<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
 <body>

    {{>header}}
    <p>This is a page created using weatherstack and mapbox API's</p>
    <img src="/img/about.jpg">
    {{>footer}}


</body>

</html>
